// ********* Variables *********

$higlight-color: #f7941a;
$dark-color: #000000;

$base-font: system-ui;


// ********* RESET CSS (Probalby delete later)  ********* 

header {
    font-family: $base-font;
    // overflow-x: hidden;

    *,
    *::before,
    *::after {
        outline: 2px solid lime;
        box-sizing: border-box;
    }
}

// ********* Menu Mobile *********
// Dimentions Mobile
$page-margin: 2rem; // Set minimum outer margin of page
$page-max-width: 100%; // Set max width of page 
$header-height: 120px;
$nav-height: calc(100svh - $header-height); // Set height of the menu slide in
$menu-height: 70%; // Set height of menu items 


header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: $higlight-color;
    height: $header-height;
}

// Remember! Nav slides in when burger button pressed
nav {
    display: flex;
    position: absolute;
    top: $header-height;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $higlight-color;
    height: $nav-height;
    transform: translateX(0%);

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 80%;
        height: $menu-height;
        justify-content: space-between;
    }

    .timeline-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .timeline {
            height: calc($menu-height - 25px);
            border: 2px solid $dark-color;
            border-radius: 2px;
        }
    }


}

// ********* Dots on timeline *********
.header-wrapper {

    // Dots on timeline 
    a::after {
        content: '';
        display: inline-block;
        position: absolute;
        height: 30px;
        left: 22%;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        background-color: $dark-color;
        transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        border: 5px solid $higlight-color;
    }

    a:hover::after {
        transform: scale(1.2);
    }


}