// ********* Menu Mobile Variables *********

// $page-margin: 2rem; // Set minimum outer margin of page
$page-max-width: 100%; // Set max width of page 
$header-height: 80px;
$nav-height: 100vh; // Set height of the menu slide in
$menu-height: auto; // Set height of menu items 
$timline-width: 2px; // Set width of timeline
$dot-size: 30px; // adjust dot size on menu timleline
$dot-border: 5px; // adjust the border on dots => border timline


// ********* RESET CSS (Probalby delete later)  ********* 
body {
    overflow-x: hidden; // Hides overflow when mobile menu is hidden 

}

// ******* Outlines for dev *******
// header,
// header *,
// *::before,
// *::after {
//     outline: 2px solid lime;
//     box-sizing: border-box;
// }


header {
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: v.$higlight-color;
    height: $header-height;
    padding-inline: v.$page-margin;

    // sr-only hides menu text but keeps it for screen readers 
    .sr-only {
        visibility: hidden;
    }

    .mobile-nav-toggle {
        position: relative;
        z-index: 100000;

    }
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

// Remember! primary-navigation slides in when burger button pressed
.primary-navigation {
    position: absolute;
    z-index: 9999;
    top: 0;
    display: none;
    transform: translateX(calc(100% - (v.$page-margin) / 2));
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: v.$higlight-color;
    height: $nav-height;


    // Slide in mobile menu
    &[data-visible="open"] {
        display: flex;
        transform: translateX(calc(20% - (v.$page-margin) / 2));
    }


    .timeline-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 20%; // adjust horizontal position for timeline here 
        justify-content: center;
        height: 100%;

        .timeline {
            height: calc(100%);
            border: $timline-width solid v.$dark-color;
            border-radius: 2px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 80%;
        height: $menu-height;
        justify-content: space-between;
        gap: 1rem;

        * {
            // Edit main menu styles here
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: 2px;
            color: inherit;
        }

        // ********* Dots on timeline *********
        a::after {
            content: '';
            display: inline-block;
            position: absolute;
            height: $dot-size;
            width: $dot-size;
            left: calc(20% - (#{$dot-size} / 2) + $timline-width);
            aspect-ratio: 1 / 1;
            border-radius: 100%;
            background-color: v.$dark-color;
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            border: 5px solid v.$higlight-color;
        }

        li {
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        a:hover::after {
            transform: scale(1.1);
        }

    }




}