@import 'style/components/_animations.scss';

$max-width: 36rem;

.cookie-banner {
    background-color: gray;
    color: black;

    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    gap: 0.5rem;

    h2 {
        text-align: center;
    }

    p {
        padding-block: 0.5rem;
        text-align: left;
        max-width: $max-width;
    }

    .cookie-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        max-width: $max-width;

        .button {
            @include button-spin; 
            width: 80vw;
            max-width: $max-width - 2rem;
        }

    }

}