// ********** Global variables **********

$higlight-color: #f7941a;
$dark-color: #000000;
$bright-color: #ffffff;

$base-font: system-ui;
$display-font: system-ui;

$page-max-width: 100%;
$page-margin: 1rem;
$gap: 3rem;


// ********** Desktop only variables **********
$d-page-max-width: 1440px;
$d-page-margin: 4rem;