// ********* Menu Desktop *********

// Dimentions Desktop

// Menu settings 
$header-height: 120px; // Set height of the header 
$nav-width: 650px; // Set width of desktop menu 

$dot-size: 22px; // adjust dot size on menu timleline
$dot-border: 3px; // adjust the border on dots => border timline
$logo-size: calc($header-height - 30px);

header {
    display: flex;
    top: 0;
    align-items: center;
    overflow-x: hidden;
    padding-inline: v.$d-page-margin;
    height: $header-height;
    background-color: v.$higlight-color;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;



}

.header-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: v.$d-page-max-width;

    .image-wrapper {
        display: none;
    }

    .logo-wrapper {
        height: $logo-size;
        width: $logo-size;
        //Avoid logo colliding with menu list items when display is small
        margin-right: v.$d-page-margin;
    }

    // Hide mobile nav toggle button and hamburger menu
    .mobile-nav-toggel {
        display: none;
    }

    .hamburger-wrapper {
        display: none;
    }

    .primary-navigation {
        background-color: transparent;
        display: block;
        position: relative;
        width: $nav-width;
        margin-left: auto;
        height: auto;
        padding: 0;
        top: 0;
        transform: translateX(0%);
        height: auto;
        box-shadow: none;

        // ***** Alternating offset menu items *****
        // Edit theese variables to adjust positions in alternating menu items.
        $offset-from-line: 25px; // Adjust list-item offset from timeline in menu  
        $dot-adjustment: 0px; // Vertical dot adjustment

        li:nth-child(1) a {
            padding-top: $offset-from-line;
            top: $offset-from-line;

            &::after {
                top: $dot-adjustment;
            }
        }

        li:nth-child(2) a {
            padding-bottom: $offset-from-line;
            top: - $offset-from-line;

            &::after {
                bottom: $dot-adjustment;
            }
        }

        li:nth-child(3) a {
            padding-top: $offset-from-line;
            top: $offset-from-line;

            &::after {
                top: $dot-adjustment;
            }
        }

        li:nth-child(4) a {
            padding-bottom: $offset-from-line;
            top: - $offset-from-line;

            &::after {
                bottom: $dot-adjustment;
            }
        }

        li:nth-child(5) a {
            padding-top: $offset-from-line;
            top: $offset-from-line;

            &::after {
                top: $dot-adjustment;
            }
        }

        li:nth-child(6) a {
            padding-bottom: $offset-from-line;
            top: - $offset-from-line;

            &::after {
                bottom: $dot-adjustment;
            }
        }

        li:nth-child(7) a {
            padding-top: $offset-from-line;
            top: $offset-from-line;

            &::after {
                top: $dot-adjustment;
            }
        }
    }

    .timeline-wrapper {
        display: flex;
        position: absolute;
        left: 0px;
        align-items: left;
        justify-content: center;
        height: 100%;
        width: 100%;

        .timeline {
            height: 0px;
            width: 300%;
            border: 2px solid v.$dark-color;
            border-radius: 2px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: auto;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;

        * {
            position: relative;
            font-size: 1.2rem;
            margin: 0;
        }

        // Dots on timeline 
        a::after {
            // Adjust dots horizontal position 
            $horizontal-pos: 28%;
            content: '';
            display: inline-block;
            position: absolute;
            height: $dot-size;
            margin-top: 1px; // Adjust odd dots horizontal position
            width: $dot-size;
            left: $horizontal-pos;
            aspect-ratio: 1 / 1;
            border-radius: 100%;
            background-color: v.$dark-color;
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            border: $dot-border solid v.$higlight-color;
        }

    }

}