.parallax {
    background-image: url('../assets/images/test-bilder/background.jpeg');
    min-height: 83vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    div {
        padding: 20px 20px;
        backdrop-filter: blur(5px);

        text-align: center;

        background-color: rgba(255, 255, 255, 0.5);

        h1 {
            margin-top: 5%;
            padding-bottom: 10px;
            font-style: italic;
        }

        p>a {
            font-size: 4rem;
            text-decoration: none;
        }
    }
}

.grid-container {


    border-top: 5px solid rgba(0, 0, 0, 0.905);

    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    word-wrap: break-word;
    word-break: keep-all;
    grid-template-rows: auto;
    //background-image: url('../assets/images/test-bilder/mobile-background.jpg');

    /*article {
        border: 2px solid rgba(0, 0, 0, 0.374);
    }*/

    p {
        padding: 20px;

    }

    figcaption {
        display: none;
    }


    .middle {
        border-radius: 5px;
        display: flex;
        justify-self: center;
        width: 10%;
        height: 70%;
        align-self: flex-end;
        background-color: rgba(0, 0, 0, 0.808);
    }

    .image {
        padding: 5px 0;
        display: flex;
        justify-self: stretch;
        //align-self: stretch;
        text-align: center;
        //border: 2px solid rgba(0, 0, 0, 0.374);
        border-radius: 3px;

    }

    .img1 {
        background-color: lightgreen;



    }

    .img2 {
        background-color: bisque;


    }

    .img3 {
        background-color: brown;

    }

    .img4 {
        background-color: cornflowerblue;

    }

    .img5 {
        background-color: rgb(124, 124, 34);
    }

    .img6 {
        background-color: orangered;
    }


}

img {
    margin: auto;
    border: 0;
    border-radius: 5px;
    scroll-margin: 20px;
}