// ********* Menu Desktop *********
$higlight-color: #f7941a00;
$dark-color: #00000000;

$base-font: system-ui;
// Dimentions Desktop
$page-margin: 3rem; // Set minimum outer margin of page
$page-max-width: 1400px; // Set max width of page 

// Menu settings 
$menu-height: 120px; // Set height of the header 
$nav-width: 700px; // Set width of desktop menu 

$dot-size: 30px; // adjust dot size on menu timleline
$dot-border: 5px; // adjust the border on dots => border timline

header {
    display: flex;
    top: 0;
    align-items: center;
    padding-inline: $page-margin;
    height: $menu-height;
    background-color: $higlight-color;
    font-family: $base-font;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: $page-max-width;

    button {
        display: none;
    }

    nav {
        position: relative;
        width: $nav-width;
        margin-left: auto;
        height: auto;
        padding: 0;
        top: 0;
        transform: translateX(0%);
    }

    .timeline-wrapper {
        display: flex;
        position: absolute;
        left: 0px;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .timeline {
            height: 0px;
            width: calc(100% - 25px);
            border: 2px solid $dark-color;
            border-radius: 2px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: auto;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;

        * {
            position: relative;
        }
    }

    .logo-wrapper {
        margin-right: $page-margin * 2;
    }
}

// Adjust position menu list-items 

nav {
    // Edit theese variables to adjust positions in alternating menu items.
    $offset-from-line: $dot-size; // Adjust list-item offset from timeline in menu  
    $dot-adjustment: - calc($dot-border / 2); // correct position of dots (the border of dots divided by 2)

    height: auto;

    li:nth-child(1) a {
        padding-top: $offset-from-line;
        top: $offset-from-line;

        &::after {
            top: $dot-adjustment;
        }
    }

    li:nth-child(2) a {
        padding-bottom: $offset-from-line;
        top: - $offset-from-line;

        &::after {
            bottom: $dot-adjustment;
        }
    }

    li:nth-child(3) a {
        padding-top: $offset-from-line;
        top: $offset-from-line;

        &::after {
            top: $dot-adjustment;
        }
    }

    li:nth-child(4) a {
        padding-bottom: $offset-from-line;
        top: - $offset-from-line;

        &::after {
            bottom: $dot-adjustment;
        }
    }

    li:nth-child(5) a {
        padding-top: $offset-from-line;
        top: $offset-from-line;

        &::after {
            top: $dot-adjustment;
        }
    }

    li:nth-child(6) a {
        padding-bottom: $offset-from-line;
        top: - $offset-from-line;

        &::after {
            bottom: $dot-adjustment;
        }
    }

    li:nth-child(7) a {
        padding-top: $offset-from-line;
        top: $offset-from-line;

        &::after {
            top: $dot-adjustment;
        }
    }
}

.header-wrapper {

    // Dots on timeline 
    a::after {
        content: '';
        display: inline-block;
        position: absolute;
        height: $dot-size;
        width: $dot-size;
        left: 22%;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        background-color: $dark-color;
        transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        border: $dot-border solid $higlight-color;
    }

    a:hover::after {
        transform: scale(1.2);
    }


}