$max-width: 36rem;

footer {
    background: linear-gradient(to right, #1e1e2f, #282c34);
    color: white;
    padding: 40px 0;
    text-align: center;
  
    .footer-container {
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .footer-section {
      display: inline-block;
      width: 30%;
      padding: 20px;
      text-align: left;
      vertical-align: top;
  

  
      h3 {
        font-size: 1.6em;
        margin-bottom: 15px;
        color: #ffbb00;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
  
      p {
        margin-bottom: 20px;
        font-size: 1.1rem;
        line-height: 1.6;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          margin-bottom: 12px;
  
          a {
            text-decoration: none;
            color: white;
            font-size: 1.1rem;
            transition: color 0.3s;
            letter-spacing: 0.5px;
  
            &:hover {
              color: #ffbb00;
            }
          }
        }
      }
    }
  }